.timer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1.5rem;
}
#timer-label {
    margin: 0;
    color: #4b0082;
}
#time-left {
    font-size: 3rem;
    font-weight: bold;
  }

 /*animations*/
@keyframes colorsize {
    0% {color:#7f69a5;}
    100% {color: red; transform: scale(2);}
    }
    
    .timer-label-animation {
    margin: 0;
    color: #7f69a5;
    animation-name: colorsize;
    animation-duration: 1s;
    animation-iteration-count: 4;
    } 